Width
393px
Height
852px
Top
5508px
Left
-12253px
Radius
56px
#000000
#FFFFFF
12px
Outer border
#000000
/* iPhone 14 Pro */


position: relative;
width: 393px;
height: 852px;

background: url(iPhone 14 Wallpaper Blue YTECHB.png), #FFFFFF;
border: 12px solid #000000;
border-radius: 56px;
